<!DOCTYPE html>
  <html lang="es" ng-app="app">
    <head>
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      
      <!--Import materialize.css-->

      <link type="text/css" rel="stylesheet" href="../lib/materialize/materialize.min.css" />

      <link rel="stylesheet" href="../css/teacher.css">


    </head>

    <body>
      
      <!-- Contenido Dropdown -->
      <ul id="dropdown1" class="dropdown-content">
        <li><a class="navfont black-text" href="#!">Editar Perfil</a></li>
        <li class="divider"></li>
        <li><a class="navfont black-text" href="#!">Cerrar Sesión</a></li>
      </ul> 


      <!--Main Nav -->
      <div class="navbar-fixed">   
        <nav class="grey lighten-4">
            <div class="nav-wrapper">
              <a href="/search" class="brand-logo left hide-on-small-only">
                <img src="../img/boomboo.png" class="logobrand responsive-img" alt="">
              </a>
              <a href="/search" class="brand-logo hide-on-med-and-up">
                <img src="../img/boomboo.png" class="logobrand responsive-img" alt="">
              </a>
              <a href="#" data-target="slide-out" class="sidenav-trigger black-text"><i class="material-icons hide-on-med-only">menu</i></a>
              <a href="#" data-target="slide-out2" class="sidenav-trigger black-text right"><i class="material-icons hide-on-med-only">search</i></a>
               

               
               
              <ul class="right hide-on-small-only">  
                <li> 
                  <form class="nav-form">
                    <div class="input-field dropdownY">
                      <input id="search" type="search" placeholder="Buscar" required>
                      <label class="label-icon" for="search"><i class="material-icons black-text">search</i></label>
                      <i class="material-icons">close</i>
                      
                      <div id="myDropdown" class="dropdown-contentY">
                        <ul class="collection contenidoBusqueda">
                          <li class="collection-item avatar resultadoBusqueda">
                            <a href="">
                            <img src="../img/yuna.jpg" alt="" class="circle">
                            <span class="title"><b>Ricardo Bruno</b></span>
                            <p>First Line
                            </p>
                            <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                            </a>
                          </li>


                        </ul> 
                      </div>
                    </div>
                  </form>
                </li>
                <!-- Dropdown Trigger -->
                <li><a class="dropdown-trigger navfont black-text" href="#" data-target="dropdown1"><i class="material-icons left">account_circle</i>Edgardo<i class="material-icons right">arrow_drop_down</i></a></li> 
                
               
              </ul>
              
            </div>
        </nav>
      </div>

      <!-- sidebar mobile-->
        <ul id="slide-out" class="sidenav left">
          <li><div class="user-view">
            <div class="background">
              <img src="../img/demo1.png">
            </div>
            <a href="#user"><img class="circle" src="../img/demo1.jpg"></a>
            <a href="#name"><span class="white-text name">John Doe</span></a>
            <a href="#email"><span class="white-text email">jdandturk@gmail.com</span></a>
          </div></li>
          <li><a href="#!"><i class="material-icons">cloud</i>Mi Perfil</a></li>
          <li><a href="#!">Mis Clases</a></li>
          <li><div class="divider"></div></li>
          <li><a class="subheader">Subheader</a></li>
          <li><a class="waves-effect" href="#!">Cerrar Sesión</a></li>
        </ul>

     <!-- sidebar mobile DERECHA-->
    <ul id="slide-out2" class="sidenav collection right">
      <form class="nav-form">
                    <div class="input-field">
                      <input id="search" type="search" placeholder="Buscar" required> 
                      <i class="material-icons">close</i> 
                    </div>
      </form>                              
      <li class="collection-item avatar resultadoBusqueda">
                            <a href="" class="">
                            <img src="../img/yuna.jpg" alt="" class="circle">
                            <span class="title truncate"><b>Ricardo Bruno</b></span>
                            </a>
       </li>

    </ul>   

     
      <div class="section">
        <div class="row">
          <div class="col s1 hide-on-med-and-up"></div>
          <div class="col s10 m4">
            <div class="card">
              <div class="card-image">
                <img src="../img/imgCarta.jpg" alt="John">
                <span class="card-title"></span>
              </div>
              <h5 class="center nombreCarta">John Doe</h1> 
              <p class="center">Harvard University</p>
              <div class="divider"></div>
              <div class="descripcion">
                <table>
                  <thead>
                    <tr>
                        <th>Calificación</th>
                        <th>Personas</th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr>
                      <td><i class="material-icons yellow-text text-darken-2">star</i></td>
                      <td>200</td>
                    </tr>
                    <tr>
                      <td>
                        <i class="material-icons yellow-text text-darken-2">star</i>
                        <i class="material-icons yellow-text text-darken-2">star</i>
                      </td>
                      <td>400</td>
                    </tr>
                    <tr>
                      <td>
                        <i class="material-icons yellow-text text-darken-2">star</i>
                        <i class="material-icons yellow-text text-darken-2">star</i>
                        <i class="material-icons yellow-text text-darken-2">star</i>
                      </td>
                      <td>600</td>
                    </tr>
                  </tbody>
                  <tr>
                      <td>
                        <i class="material-icons yellow-text text-darken-2">star</i>
                        <i class="material-icons yellow-text text-darken-2">star</i>
                        <i class="material-icons yellow-text text-darken-2">star</i>
                        <i class="material-icons yellow-text text-darken-2">star</i>
                      </td>
                      <td>800</td>
                    </tr>
                  </tbody>
                  <tr>
                      <td>
                        <i class="material-icons yellow-text text-darken-2">star</i>
                        <i class="material-icons yellow-text text-darken-2">star</i>
                        <i class="material-icons yellow-text text-darken-2">star</i>
                        <i class="material-icons yellow-text text-darken-2">star</i>
                        <i class="material-icons yellow-text text-darken-2">star</i>
                      </td>
                      <td>1000</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="col s1 hide-on-med-and-up"></div>
          <div class="col s12 m8">

            <ul class="collection cajaComentar">
              <li class="collection-item avatar cajaInput">
                <img src="../img/yuna.jpg" alt="" class="circle">
                <form class="col s12">
                  <div class="row contenedorInput">
                    <div class="input-field col s12">
                      <i class="material-icons prefix">mode_edit</i>
                      <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
                      <label for="icon_prefix2">Escribe un Comentario</label>
                    </div>
                  </div>
                </form>
              </li>
            </ul>


            <ul class="collection cajaComentarios">
              <li class="collection-item avatar cajaComentario">
                <img src="../img/yuna.jpg" alt="" class="circle">
                <span class="title"><b>Fulanita</b></span>
                <div class="divider"></div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae quo corporis, iste voluptatem, ducimus tenetur asperiores est rem doloremque quibusdam, laboriosam aliquam modi harum quis nobis. Sequi fugit facere saepe? <br>
                   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore fugiat ducimus sapiente repellat vel distinctio, assumenda fugit, ex sed vero quod facere numquam, atque nesciunt. Numquam commodi praesentium, accusamus ut? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis quae libero voluptas, pariatur sequi voluptatem officia voluptate dolores adipisci delectus cum sunt est error et, nisi expedita dolore perferendis! Eligendi.
                </p>
              </li>
              <li class="collection-item avatar cajaComentario">
                <img src="../img/imgCarta.jpg" alt="" class="circle">
                <span class="title"><b>Fulanito</b></span>
                <div class="divider"></div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae quo corporis, iste voluptatem, ducimus tenetur asperiores est rem doloremque quibusdam, laboriosam aliquam modi harum quis nobis. Sequi fugit facere saepe? <br>
                   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore fugiat ducimus sapiente repellat vel distinctio, assumenda fugit, ex sed vero quod facere numquam, atque nesciunt. Numquam commodi praesentium, accusamus ut? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis quae libero voluptas, pariatur sequi voluptatem officia voluptate dolores adipisci delectus cum sunt est error et, nisi expedita dolore perferendis! Eligendi.
                </p>
              </li>

            </ul>

            

          </div>
        </div>
      </div>

    </body>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.10/angular.min.js"></script>
    <script src="../lib/angular-local-storage/dist/angular-local-storage.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="../js/config/configProfileTeacher.js"></script>
    <script src="../js/controllers/CtrlProfileTeacher.js"></script>
    <script src="../lib/materialize/materialize.min.js"></script>
    <script src="../js/materialize/profileTeacher.js"></script>


  </html>